.banner {
    &::before {
        background: url("../img/batik.png");
        background-repeat: repeat;
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        background-size: contain;
        height: 100%;
        opacity: 0.8;
        @media screen and (max-width: 768px) {
            opacity: 1;
        }
    }
    &::after {
        // background: url("../img/batik.png");
        // background-repeat: repeat;
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to top, $colorred, rgba($colorred, 0.3), $colorred);
        // opacity: 0.5;
    }
    @media screen and (max-width: 768px) {
        min-height: 55vh;
    }
    .masuk {
        position: absolute;
        right: -16%;
        top: 10%;
        width: fit-content;
        height: auto;
        z-index: 3;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .wp {
        position: absolute;
        left: 50%;
        z-index: 8;
        top: 50%;
        // opacity: 0.5;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 85%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__title {
        position: absolute;
        left: 50%;
        top: 90%;
        width: 55%;
        z-index: 8;
        box-shadow:
            1px 1px 0px 0px,
            2px 2px 0px 0px,
            3px 3px 0px 0px,
            4px 4px 0px 0px,
            5px 5px 0px 0px;
        background: white;
        border: 3px solid black;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 768px) {
            top: 85%;
        }
        h2 {
            color: #00599d;
            font-size: 3.5rem;
            font-weight: 800;
            text-align: center;
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($primary, 0.8);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $secondary;
}
