#modal-container {
    .popup-atasx {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 21;
        width: 100%;
        height: 100px;
        background: #04a6b7;
        border-bottom: 3px solid black;
        @media screen and (max-width: 768px) {
            height: 80px;
        }
        @media screen and (max-width: 360px) {
            height: 80px !important;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: auto;
            background: linear-gradient(to top, #04a6b7, rgba(#04a6b7, 0.5));
        }
        &::before {
            position: absolute;
            inset: 0;
            content: "";
            // width: 80px;
            // height: 80px;
            // padding: 8px;
            // z-index: -1;
            // background-image: url("../img/dots-blue.png");
            background-repeat: repeat;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cekx {
        .suara {
            font-size: 1.3rem;
            font-weight: bold;
            &:after {
                content: "%";
                font-size: 1rem;
            }
        }

        .wrap-detikx {
            clear: both;
            z-index: 19;
            top: -30vh;
            @media screen and (max-width: 768px) {
                top: 0;
            }
        }
        .prov {
            margin: 16px 0;
            // background: #fcd32b;
            padding: 16px;
            border: 3px solid;
            border-radius: 16px;
            &.one {
                background: #fcd32b;
            }
            &.two {
                background: #eaa270;
            }
            &.three {
                background: #decdc4;
            }
            &.four {
                background: #8bc9ee;
            }
            &.five {
                background: #82e493;
                @media screen and (max-width: 768px) {
                    // margin-bottom: 92px;
                }
            }
            &__title {
                text-align: center;
                padding: 8px;
                width: fit-content;
                margin: 0 auto 32px;
                color: white;
                position: relative;
                box-shadow: 4px 4px black;
                // background: #dd9419;
                &.dki {
                    background: #d11a14;
                }
                &.jateng {
                    background: #b1612a;
                }
                &.sumut {
                    background: #9b7966;
                }
                &.jabar {
                    background: #1e4490;
                }
                &.jatim {
                    background: #0d7f40;
                }
                h3 {
                    filter: drop-shadow(2px 2px 0px black);
                    color: white;
                }
            }
            .calon {
                display: block;
                margin: 0 auto;
                text-align: center;
                &_wrap {
                    display: inline-block;
                    width: 32%;
                    vertical-align: top;
                    position: relative;
                    margin-bottom: 32px;
                    // background: linear-gradient(to top, black, rgba(black, 0.5));
                    .no {
                        position: absolute;
                        top: 0%;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        border: 3px solid;
                        font-weight: 600;
                        background: white;
                        width: 35px;
                        height: 35px;
                        font-size: 1.3rem;
                        border-radius: 50%;
                    }
                    @media screen and (max-width: 768px) {
                        width: 48%;
                    }
                    .foto {
                        width: 100%;
                        height: 200px;
                        background: url("../img/bendera.png") white;
                        border-top: 3px solid;
                        background-position: center;
                        border-left: 3px solid;
                        border-right: 3px solid;
                        @media screen and (max-width: 768px) {
                            height: 140px;
                        }
                        // border-bottom: 3px solid white;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .nama {
                        text-align: center;
                        font-size: 1.1rem;
                        font-weight: bold;
                        border: 3px solid;
                        // position: absolute;
                        bottom: 0;
                        left: 0;
                        background: white;
                        right: 0;
                        // left: 50%;
                        // top: 50%;
                        // width: 100%;
                        // color: white;
                        // transform: translate(-50%, -50%);
                        // height: 100%;
                        // right: 0;

                        // text-align: center;
                    }
                }
            }
            .dana {
                // margin: 24px 0;
                // background: white;
                padding: 8px;
                // border: 3px solid;
            }
            .gimmick {
                // margin: 24px 0;
                // background: white;
                padding: 8px;
                // border: 3px solid;
            }
        }
    }

    .navigation {
        .iconx {
            // position: absolute;
            // // left: -8px;
            // // top: 0;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            width: 50px;
            height: auto;
            margin-bottom: 8px;
            @media screen and (max-width: 768px) {
                width: 36px;
                height: auto;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .popup-bawahx {
        display: none;
        @media screen and (max-width: 768px) {
            position: sticky;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            display: none;
            height: 40px;
            background: #04a6b7;
            &::before {
                content: "";
                position: absolute;

                top: -16px;
                left: 0;
                right: 0;
                width: 120%;
                border-top: 3px solid;
                height: 80px;
                background: #04a6b7;
                transform: rotate(-5deg);
            }

            &::after {
            }
        }
        // border-top: 3px solid black;
    }
    .dalang {
        width: 680px;
        margin: 32px auto;
        display: block;
        position: relative;
        // border: 1px solid;
        overflow: auto;
        // height: 80vh;

        @media screen and (max-width: 768px) {
            width: 95%;
            // height: 75vh;
            height: 100%;
            margin: 16px auto;
        }
        @media screen and (max-width: 360px) {
            width: 95%;
            height: 100%;
            // height: vh !important;
        }
        &::after {
            // content: "";
            // position: absolute;
            // bottom: 0;
            // left: 0;
            // right: 0;
            // width: 120%;
            // height: 80px;
            // background: #04a6b7;
            // transform: rotate(-5deg);
        }
    }
    position: fixed;
    // display:table;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 20;
    &.one {
        transform: scaleY(0.01) scaleX(0);
        animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        .modal-background {
            .modal {
                transform: scale(0);
                animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
        &.out {
            transform: scale(1);
            animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            .modal-background {
                .modal {
                    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                }
            }
        }
    }
    &.two {
        transform: scale(1);
        .modal-background {
            background: rgba(0, 0, 0, 0);
            animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            .modal {
                opacity: 0;
                animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
        + .content {
            animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
        &.out {
            animation: quickScaleDown 0s 0.5s linear forwards;
            .modal-background {
                animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                .modal {
                    animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                }
            }
            + .content {
                animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
    }
    &.three {
        z-index: 0;
        transform: scale(1);
        .modal-background {
            background: rgba(0, 0, 0, 0.6);
            .modal {
                animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
        + .content {
            z-index: 1;
            animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
        &.out {
            .modal-background {
                .modal {
                    animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                }
            }
            + .content {
                animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
    }
    &.four {
        z-index: 0;
        transform: scale(1);
        .modal-background {
            background: rgba(0, 0, 0, 0.7);
            .modal {
                animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
        + .content {
            z-index: 1;
            animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
        &.out {
            .modal-background {
                .modal {
                    animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                }
            }
            + .content {
                animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
    }
    &.five {
        transform: scale(1);
        .modal-background {
            background: rgba(0, 0, 0, 0);
            animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            .modal {
                transform: translateX(-1500px);
                animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
        &.out {
            animation: quickScaleDown 0s 0.5s linear forwards;
            .modal-background {
                animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                .modal {
                    animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                }
            }
        }
    }
    &.six {
        transform: scale(1);
        .modal-background {
            background: rgba(0, 0, 0, 0);
            animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            .modal {
                background-color: transparent;
                animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                h2,
                p {
                    opacity: 0;
                    position: relative;
                    animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                }
                .modal-svg {
                    rect {
                        animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                    }
                }
            }
        }
        &.out {
            animation: quickScaleDown 0s 0.5s linear forwards;
            .modal-background {
                animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                .modal {
                    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                    h2,
                    p {
                        animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                    }
                    .modal-svg {
                        rect {
                            animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                        }
                    }
                }
            }
        }
    }
    &.seven {
        transform: scale(1);
        .modal-background {
            background: rgba(0, 0, 0, 0);
            animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            .modal {
                height: 75px;
                width: 75px;
                border-radius: 75px;
                overflow: hidden;
                animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                h2,
                p {
                    opacity: 0;
                    position: relative;
                    animation: modalContentFadeIn 0.5s 1.4s linear forwards;
                }
            }
        }
        &.out {
            animation: slowFade 0.5s 1.5s linear forwards;
            .modal-background {
                background-color: rgba(0, 0, 0, 0.7);
                animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                .modal {
                    border-radius: 3px;
                    height: 162px;
                    width: 227px;
                    animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                    h2,
                    p {
                        animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
                    }
                }
            }
        }
    }
    .modal-background {
        //   display:table-cell;
        background: rgba(0, 0, 0, 0.8);
        // text-align:center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        .modal {
            // background: white;
            // padding: 0px 50px 50px;
            padding: 0;
            // #5eebd8
            background: #5eebd8;
            display: inline-block;
            border-radius: 3px;
            font-weight: 400;
            overflow: initial;
            overflow-y: auto;
            position: relative;

            @media screen and (max-width: 768px) {
                // background: linear-gradient(to top, #04a6b7 5%, white 5%);
                overflow-x: clip;
                // padding: 0 16px;
            }

            .nama-paslon {
                position: absolute;
                left: 50%;
                z-index: 12;
                // border-bottom: 3px solid black;
                top: 50%;
                color: white;
                // z-index: 2;
                text-align: center;
                font-size: 2.2rem;
                width: 100%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: 768px) {
                    font-size: 1.5rem;
                    width: 50%;
                    top: 35%;
                }
            }
            @media screen and (max-width: 768px) {
                // padding: 135px 16px 16px;
            }
            @media screen and (max-width: 360px) {
                // padding: 116px 16px 16px !important;
            }
            h2 {
                font-size: 25px;
                line-height: 25px;
                margin-bottom: 15px;
            }
            p {
                font-size: 1.2rem;
                @media screen and (max-width: 768px) {
                    font-size: 1rem;
                }
                // line-height:22px;
            }
            .modal-svg {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 3px;
                rect {
                    stroke: #fff;
                    stroke-width: 2px;
                    stroke-dasharray: 778;
                    stroke-dashoffset: 778;
                }
            }
        }
    }
}

.content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;
    h1 {
        padding: 75px 0 30px 0;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }
    .buttons {
        max-width: 800px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        .button {
            display: inline-block;
            text-align: center;
            padding: 10px 15px;
            margin: 10px;
            background: red;
            font-size: 18px;
            background-color: #efefef;
            border-radius: 3px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            &:hover {
                color: white;
                background: #009bd5;
            }
        }
    }
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
}

@keyframes scaleBack {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.85);
    }
}

@keyframes scaleForward {
    0% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes slideUpLarge {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideDownLarge {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(150px);
    }
}

@keyframes blowUpContent {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    99.9% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(0);
    }
}

@keyframes blowUpContentTwo {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes blowUpModal {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes roadRunnerIn {
    0% {
        transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
        transform: translateX(30px) skewX(0deg) scaleX(0.9);
    }
    100% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }
}

@keyframes roadRunnerOut {
    0% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
        transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    }
    100% {
        transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    }
}

@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 778;
    }
}

@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

@keyframes modalFadeOut {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0;
        top: -20px;
    }
}

@keyframes bondJamesBond {
    0% {
        transform: translateX(1000px);
    }
    80% {
        transform: translateX(0px);
        border-radius: 75px;
        height: 75px;
        width: 75px;
    }
    90% {
        border-radius: 3px;
        height: 182px;
        width: 247px;
    }
    100% {
        border-radius: 3px;
        height: 162px;
        width: 227px;
    }
}

@keyframes killShot {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(300px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fadeToRed {
    0% {
        background-color: rgba(black, 0.6);
    }
    100% {
        background-color: rgba(red, 0.8);
    }
}

@keyframes slowFade {
    0% {
        opacity: 1;
    }
    99.9% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.closex {
    position: absolute;
    left: 20%;
    @media screen and (max-width: 768px) {
        left: 16px;
        font-size: 12px;
    }
    width: fit-content;
    cursor: pointer;
    top: 8px;
    // height: 80px;
    background: #ccc;
    z-index: 22;
    color: black;
    padding: 4px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
}

.images {
    width: 100%;
    height: 320px;
    margin-bottom: 8px;
    box-shadow: 4px 4px 4px black;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-box {
    width: 300px;
    height: 300px;
    background: white;
    vertical-align: middle;
    margin: 8px 0;
    display: inline-block;
    &.right-place {
        // right: -25%;
        float: right;
        // right: -50%;
        // transform: rotate(3deg);
        margin: 16px 0 8px 16px;
        @media screen and (max-width: 768px) {
            right: -15%;
            position: relative;
            float: initial;
        }
        // bottom: 0%;
    }
    &.left-place {
        // left: -50%;
        // transform: rotate(-3deg);
        // bottom: 0%;
        float: left;
        margin: 16px 16px 8px 0;
        @media screen and (max-width: 768px) {
            float: initial;
        }
    }
    @media screen and (max-width: 768px) {
        width: 62%;
        height: 250px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.tutup-bawah {
    margin: 0 auto;
    width: fit-content;
    cursor: pointer;
    top: 8px;
    // height: 80px;
    background: #ccc;
    z-index: 22;
    color: black;
    padding: 4px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.provinsi {
    margin: 24px 0;
    // clear: both;
    display: block;
    &__name {
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        width: 35%;
        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 768px) {
        padding: 0 16px;
    }
}

.tgl {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    z-index: 19;
    color: white;
    width: 100%;
    text-align: center;
}
